ArchitectureTemplate.Infrastructure.WCF.Client/Connected Services/ServiceReferenceScreens/ScreenManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScreenManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IScreenServiceContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8086/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8086/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8086/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArchitectureTemplate.Infrastructure.WCF.Contracts.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScreenServiceContract_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IScreenServiceContract_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IScreenServiceContract_GetByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByName" />
  </wsdl:message>
  <wsdl:message name="IScreenServiceContract_GetByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IScreenServiceContract_GetScreensByContains_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScreensByContains" />
  </wsdl:message>
  <wsdl:message name="IScreenServiceContract_GetScreensByContains_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScreensByContainsResponse" />
  </wsdl:message>
  <wsdl:message name="IScreenServiceContract_GetScreensByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScreensByRange" />
  </wsdl:message>
  <wsdl:message name="IScreenServiceContract_GetScreensByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScreensByRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="IScreenServiceContract">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IScreenServiceContract/GetById" message="tns:IScreenServiceContract_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScreenServiceContract/GetByIdResponse" message="tns:IScreenServiceContract_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IScreenServiceContract/GetByName" message="tns:IScreenServiceContract_GetByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScreenServiceContract/GetByNameResponse" message="tns:IScreenServiceContract_GetByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScreensByContains">
      <wsdl:input wsaw:Action="http://tempuri.org/IScreenServiceContract/GetScreensByContains" message="tns:IScreenServiceContract_GetScreensByContains_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScreenServiceContract/GetScreensByContainsResponse" message="tns:IScreenServiceContract_GetScreensByContains_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScreensByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IScreenServiceContract/GetScreensByRange" message="tns:IScreenServiceContract_GetScreensByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScreenServiceContract/GetScreensByRangeResponse" message="tns:IScreenServiceContract_GetScreensByRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IScreenServiceContract" type="tns:IScreenServiceContract">
    <wsp:PolicyReference URI="#NetTcpBinding_IScreenServiceContract_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetById">
      <soap12:operation soapAction="http://tempuri.org/IScreenServiceContract/GetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <soap12:operation soapAction="http://tempuri.org/IScreenServiceContract/GetByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScreensByContains">
      <soap12:operation soapAction="http://tempuri.org/IScreenServiceContract/GetScreensByContains" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScreensByRange">
      <soap12:operation soapAction="http://tempuri.org/IScreenServiceContract/GetScreensByRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScreenManager">
    <wsdl:port name="NetTcpBinding_IScreenServiceContract" binding="tns:NetTcpBinding_IScreenServiceContract">
      <soap12:address location="net.tcp://localhost:8009/WcfService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8009/WcfService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ADERBAL-PC\aderb</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>